/* ==============================
===== collection css starts =====
=================================*/
#collection{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
  .heading{
    h3{
      font-weight: 700;
      font-size: 36px;
    }
    p{
      color: #696969;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .item{
    border: 1px solid #eeeded;
    margin-top: 50px;
    .image-area{
      position: relative;
      overflow: hidden;
      &:hover{
        .cart{
          top: 0px;
        }
      }
      .cart{
        height: 50px;
        width: 90%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 50%;
        top: -50px;
        transform: translateY(-50%);
        transform: translateX(-50%);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all linear 0.3s;
        a{
          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 5px 5px;
        }
      }
    }      
      
    h5{
      font-size: 16px;
      font-weight: 700;
      margin-top: 10px;
    }
    h4{
      font-size: 16px;
      font-weight: 700;
    }
  }
}



/* ============================
===== collection css ends =====
===============================*/