/* ===========================
===== counter css starts =====
==============================*/
#counter{
  background: #64b141;
  .items{
    padding-top: 80px;
    padding-bottom: 80px;
    i{
      font-size: 48px;
    }
    h5{
      font-size: 36px;
      font-weight: 700;
      margin-top: 10px;
    }
    h4{
      font-size: 16px;
      font-weight: 700;
      margin-top: 10px;
    }
  }
}


/* =========================
===== counter css ends =====
============================*/