/* ============================
===== sponsors css starts =====
===============================*/
#sponsors{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
  .heading{
    h3{
      font-weight: 700;
      font-size: 36px;
    }
    p{
      color: #696969;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .image-area{
    margin-top: 50px;
    transition: all linear 0.3s;
    img{
      cursor: pointer;
    }
    &:hover{
      -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.86); 
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.86);
      }
    }
  }



/* ==========================
===== sponsors css ends =====
=============================*/